### Datatypes in python Programming
- int
- float
- string

In [2]:
x=100
print(x,type(x))

100 <class 'int'>

In [3]:
x=10000030000
print(x,type(x))

10000030000 <class 'int'>

In [4]:
F=120.234
print(F,type(F))

120.234 <class 'float'>

In [5]:
s='application'
print(s,type(s))

application <class 'str'>

In [6]:
s="application"
print(s,type(s))

application <class 'str'>

In [9]:
s='a,b,c'
print(s,type(s))

a,b,c <class 'str'>

### Datatype Conversion (Type casting)
- int()
- float()
- str()

In [11]:
s1="1234"
print(s1,type(s1))
a1=int(s1)
print(a1,type(a1))
c1=(float(a1))
print(c1,type(c1))

1234 <class 'str'>
1234 <class 'int'>
1234.0 <class 'float'>

In [12]:
c2=123.456
print(c2,type(c2))
a2=int(c2)
print(a2,type(a2))

123.456 <class 'float'>
123 <class 'int'>

In [13]:
c3=123
print(c3,type(c3))
s=str(c3)
print(s,type(s))

123 <class 'int'>
123 <class 'str'>

In [14]:
# read the number as input
n=input('enter your number')
print("your number",n)
print("type is",type(n))

enter your number123
your number 123
type is <class 'str'>

In [1]:
x= int(input("enter your number"))
print("number is",x)
print("type is",type(x))

enter your number145
number is 145
type is <class 'int'>

In [2]:
n = int(input())
print(n,type(n))

123
123 <class 'int'>

### control statements
- Conditional statements
   - if-else
- Looping statements
   - for loop
   - while loop

In [4]:
# read the input as number is even or odd
x= int(input())
if x%2==0:
    print("even number")
else:
    print("odd numer")

5
odd numer

In [ ]:
# read two numer as input
# if the first number greater print the output as squre of second number
#vice versa
#test cases:-
3 2 --4
3 5--9

In [6]:
x=int(input())
y=int(input())
if x>y:
    print(y*y)
else:
    print(x*x)

3
2
4

In [7]:
#read the three number as input
# print the large number from the three
x=int(input())
y=int(input())
z=int(input())
if x>y and x>z:
    print(x)
elif y>x and y>z:
    print(y)
else:
    print(z)

5
4
6
6

In [ ]:
# and,or,not
#operators:

In [8]:
print(10/3)    #consider the decimal values
print(10//3)    #consider floor value
print(2**3)     #power pow(2,3)
print(2*3)      #multiplication

3.3333333333333335
3
8
6

In [9]:
x=10 
val= (x>=100)
print(val,type(val))

False <class 'bool'>

In [ ]:
#python support true and false keyword
#both belongs to bool datatype

In [10]:
if True:
    print("Dhyanhita")
else:
    print('Rajesh gupta')

Dhyanhita

### Looping statements
-while

In [ ]:
while Bool_condition:
    statements
    increment/Decrement

In [27]:
x=10
x+=1  # x++ == x +=1

In [11]:
#read the number n
# print the number from 1 to n
n=int(input())
i=1
while(i<=n):
    print(i,end = '')
    i+=1

10
12345678910

In [12]:
#read the input as number
# print the output as factors of the given number
#6 - 1,2,3,6
#12 - 1 2 3 4 6 12
n= int(input())
i=1
while(n>=i):
    if n%i==0:
        print(i,end='')
    i+=1

6
1236

In [22]:
#read the input as number
# print the digit of the given number
# 145-- 5 4 1
# 1889 -- 9881
n=int(input())
i=1
while(n>=i):
    x=n%10
    print(x,end = ' ')
    n=n//10

123
3 2 1

In [17]:
n=int(input())
while(n!=0):
    print(n%10,end ='')
    n=n//10

145
541

In [27]:
x,y=input() .split()

5

ValueError: not enough values to unpack (expected 2, got 1)