### yesterday class

In [51]:
# Define a function for add new contacts
contacts = {}     #empty dict object
def addnewcontact(name,phone):
    if name not in contacts:
            contacts[name]=phone
            print('contacts is added')
    else:
        print('contacts name is alredy exists')
    return
addnewcontact('anil',9398622241)# correct
addnewcontact('rajesh',9398622241)# correct
addnewcontact('anil',9398622241)# error correct
addnewcontact('bikash',939862224132)# correct

contacts is added
contacts is added
contacts name is alredy exists
contacts is added

In [52]:
# define a function for search the contact details
def searchcontact(name):
    if name in contacts:
        print(name,':',contacts[name])
    else:
        print('Data is not present')
    return
searchcontact('rajesh')
searchcontact('nikash')

rajesh : 9398622241
Data is not present

In [53]:
print(contacts)

{'anil': 9398622241, 'rajesh': 9398622241, 'bikash': 939862224132}

### Contact Application
- add new contact
- search contact
- delete contact

In [54]:
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print("Record is deleted")
    else:
        print("Record is not found")
    return
deletecontact('anil')  # record suppose to be deleted
deletecontact('ajay')  #error message

Record is deleted
Record is not found

In [55]:
print(contacts)

{'rajesh': 9398622241, 'bikash': 939862224132}

In [56]:
# DICT = SOME CONTACTS
# DICT = CONTACTS
def mergecontact(newcontact):
    contacts.update(newcontact)  #use of update for some contacts add in one line
    print(len(newcontact.keys()),"contact are added")
    return
newcontact = {'ajay':986457467,'dinesh':879845678,'harsha':789678544}
mergecontact(newcontact)

3 contact are added

In [57]:
print(contacts)

{'rajesh': 9398622241, 'bikash': 939862224132, 'ajay': 986457467, 'dinesh': 879845678, 'harsha': 789678544}

In [58]:
#define the function for update the contact details
def updatecontact(name,phone):
    if name in contacts:
        contacts[name] = phone
        return "contacts is update"
    return "name is not found"
print(updatecontact('bikash',9845678376))
print(updatecontact('raju',879845678))

contacts is update
name is not found

In [59]:
print(contacts)

{'rajesh': 9398622241, 'bikash': 9845678376, 'ajay': 986457467, 'dinesh': 879845678, 'harsha': 789678544}

In [60]:
# name the contacts suppose to be in sorted
def sortcontact(contacts):
    for key in sorted(contacts.keys()):
        print('key =',key,'value =',contacts[key])
    return
sortcontact(contacts)

key = ajay value = 986457467
key = bikash value = 9845678376
key = dinesh value = 879845678
key = harsha value = 789678544
key = rajesh value = 9398622241

In [61]:
print(contacts.keys())

dict_keys(['rajesh', 'bikash', 'ajay', 'dinesh', 'harsha'])

In [63]:
print(contacts.values())

dict_values([9398622241, 9845678376, 986457467, 879845678, 789678544])

In [1]:
raj={'raju':9398622241}
def mergecontact(new):
    raj.update(new)  #use of update for some contacts add in one line
    print(len(new.keys()),"contact are added")
    return
new= {'raju':[986457467,879845678]}
mergecontact(new)

1 contact are added

In [2]:
print(new)

{'raju': [986457467, 879845678]}

### Data Structure - Tuple
- it's similar to List object in python
- Tuple object can be used as one of the Data structure in python
- Tuple object can be enclosed with the paranthesis()
- Every Tuple item is seperated from the comma ,
- this can be used only when read process is required
### Difference
    - List are mutable - can possible to insert,delete and update
    - Tuple are immutable

In [27]:
t1=(1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

In [28]:
for i in range (len(t1)):
    print(t1[i],end =' ')

1 2 3 4 5

In [29]:
# Tuple slicing
print(t1[0:2])

(1, 2)

In [30]:
print(t1[0:])

(1, 2, 3, 4, 5)

In [31]:
print(t1[0:])

(1, 2, 3, 4, 5)

In [32]:
print(t1[-1:])

(5,)

In [33]:
t1[2]=123 # can't change the value in tuple

TypeError: 'tuple' object does not support item assignment

In [34]:
del t1[2] # can't delete in tuple

TypeError: 'tuple' object doesn't support item deletion

In [36]:
print(type(t1))

<class 'tuple'>

In [37]:
t1.append(12) # can't use in tuple

AttributeError: 'tuple' object has no attribute 'append'

In [42]:
max(t1)

5

In [43]:
min(t1)

1

In [44]:
t1.sort() # can't use

AttributeError: 'tuple' object has no attribute 'sort'

### Data structure - Sets
- A set is in unorderd collection of items
- Sets can be enclosed with {}
- Every set items are seperated by comma symbol
- Set values are supposed to be unique
- Sets also mutable can possible to do the operatiosn

In [45]:
s1={1,2,3,4,5}
print(s1)

{1, 2, 3, 4, 5}

In [1]:
s1[0]

NameError: name 's1' is not defined

### Packages and Modules
- Package
    - A collection of Modules
- Module
   - Module a single python file which consists set of Functions/methods
   
   
#### Package-->sub package-->Module-->Function/Methods-->statements

In [2]:
import math
math.floor(12.43)

12

In [6]:
from math import floor
floor(12.43)

12

In [5]:
from math import factorial
factorial(10)

3628800

In [9]:
from math import floor as f,factorial as fact
fact(5)

120

In [10]:
f(12.43)

12